
.index_index
  .blablabla
    .container
      - @ndx_hash.each do |key, value|
        .country_container
          .row
            .col-md-12
              %p.text-center= key.inspect
          - value.each do |key2, value2|
            - if value2.class.name == 'Hash'
              .city_container
                .row
                  .col-md-12
                    %p.text-center= key2.inspect
                - value2.each do |key3, value3|
                  - if value3.class.name == 'Hash'
                    .nebh_container
                      .row
                        .col-md-12
                          %p.text-center= key3.inspect
                      - value3.each do |key4, value4|
                        .row
                          .col-md-6
                            %p.text-center= key4.inspect
                          .col-md-6
                            %p.text-center= value4.inspect
                  - else
                    .row
                      .col-md-6
                        %p.text-center= key3.inspect
                      .col-md-6
                        %p.text-center= value3.inspect
            - else
              .row
                .col-md-6
                  %p.text-center= key2.inspect
                .col-md-6
                  %p.text-center= value2.inspect
        - break
        
      
